.pagination-box ul li {
    display: inline;
}
.pagination-box ul li a {
    padding: 6px 13px;
    border: 1px solid #dbdbdb;
    color: black;
    font-size: 14px;
    transition: all .5s ease;
    border-radius: 8px;
    background: white;
    /* box-shadow: 2px 1px 5px #e7e7e7; */
}

.active-pagination-cus {
    background-color: #0d6efd !important;
    color: white !important;
    border: none !important;
}
