.fs40 {
    font-size: 45px;
}

.textc-b {
    color: #81a2f0;
}
.perofesinal-btn{
    padding: 14px 26px;
    border-radius: 10px;
    border: none;
    background: #809fee;
    color: #ffffff;
}
.box-download-1{
    background: #ededed;
    padding: 15px;
    border-radius: 10px;
}